In [1]:
import pandas as pd

In [7]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\lap-tech\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\lap-tech\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from sqlalchemy import create_engine

In [5]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Obtaining dependency information for psycopg2-binary from https://files.pythonhosted.org/packages/25/1f/7ae31759142999a8d06b3e250c1346c4abcdcada8fa884376775dc1de686/psycopg2_binary-2.9.9-cp311-cp311-win_amd64.whl.metadata
  Downloading psycopg2_binary-2.9.9-cp311-cp311-win_amd64.whl.metadata (4.6 kB)
Downloading psycopg2_binary-2.9.9-cp311-cp311-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   - -------------------------------------- 0.0/1.2 MB 220.2 kB/s eta 0:00:06
   - -------------------------------------- 0.0/1.2 MB 219.4 kB/s eta 0:00:06
   --- ------------------------------------ 0.1/1.2 MB 504.4 kB/s eta 0:00:03
   ------ --------------------------------- 0.2/1.2 MB 696.3 kB/s eta 0:00:02
   -------- ------------------------------- 0.3/1.2 MB 830.3 kB/s eta 0:00:02
   ----------- ---------------------------- 0.3/1.2 MB 955.3 kB/s eta 0:00:01
   -------------- ------------------------- 0.4/1.2 MB 1.1 MB/s eta 0:00:01
   ----------------- ---------------------- 0.5/1.2 MB 1.1 MB/s eta 0:00:01
   -------------------- ------------------- 0.6/1.2 MB 1.2 MB/s eta 0:00:01
   ---------------------- ----------------- 0.6/1.2 MB 1.2 MB/s eta 0:00:01
   ---------------------- ----------------- 0.6/1.2 MB 1.2 MB/s eta 0:00:01
   ---------------------- ----------------- 0.6/1.2 MB 1.2 MB/s eta 0:00:01
   --------------------------- ------------ 0.8/1.2 MB 1.1 MB/s eta 0:00:01
   --------------------------------- ------ 1.0/1.2 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------  1.1/1.2 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  1.1/1.2 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  1.1/1.2 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  1.1/1.2 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  1.1/1.2 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  1.1/1.2 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  1.1/1.2 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  1.1/1.2 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  1.1/1.2 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  1.1/1.2 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 900.4 kB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.9

In [4]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [5]:
engine.connect()

In [11]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

   number
0       1

In [12]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

Empty DataFrame
Columns: [schemaname, tablename, tableowner, tablespace, hasindexes, hasrules, hastriggers, rowsecurity]
Index: []

In [11]:
# Read the Parquet file
df = pd.read_csv('green_tripdata_2019-09.csv')

# # Specify the desired number of rows
# limit_rows = 1000  # Replace with your desired limit

# # Select the first N rows
# df = df.head(limit_rows)
df

C:\Users\lap-tech\AppData\Local\Temp\ipykernel_10532\554012534.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-09.csv')

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.50,0.50,0.5,2.36,0.00,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.00,0.50,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.00,0.50,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.50,0.50,0.5,1.50,0.00,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.00,0.50,0.5,3.06,0.00,NaN,0.3,18.36,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449058,NaN,2019-09-30 23:13:00,2019-09-30 23:41:00,NaN,NaN,66,71,NaN,7.84,43.25,2.75,0.5,0.00,0.00,NaN,0.0,46.50,NaN,NaN,NaN
449059,NaN,2019-09-30 23:26:00,2019-09-30 23:46:00,NaN,NaN,55,26,NaN,3.56,25.75,2.75,0.5,0.00,0.00,NaN,0.0,29.00,NaN,NaN,NaN
449060,NaN,2019-09-30 23:15:00,2019-09-30 23:43:00,NaN,NaN,139,78,NaN,18.47,50.47,2.75,0.5,0.00,6.12,NaN,0.0,59.84,NaN,NaN,NaN
449061,NaN,2019-09-30 23:19:00,2019-10-01 00:06:00,NaN,NaN,242,188,NaN,20.10,58.22,2.75,0.5,0.00,6.12,NaN,0.0,67.59,NaN,NaN,NaN
449062,NaN,2019-09-30 23:35:00,2019-09-30 23:58:00,NaN,NaN,155,189,NaN,5.87,26.07,2.75,0.5,0.00,0.00,NaN,0.0,29.32,NaN,NaN,NaN

In [15]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [17]:
df.to_sql(name='green_taxi_trips', con=engine, index=False)

PendingRollbackError: Can't reconnect until invalid transaction is rolled back. (Background on this error at: https://sqlalche.me/e/14/8s2b)

In [9]:
query = """
SELECT * FROM zones LIMIT 10
"""

pd.read_sql(query, con=engine)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone
5           6  Staten Island  Arrochar/Fort Wadsworth    Boro Zone
6           7         Queens                  Astoria    Boro Zone
7           8         Queens             Astoria Park    Boro Zone
8           9         Queens               Auburndale    Boro Zone
9          10         Queens             Baisley Park    Boro Zone

In [26]:
# Define the drop table query
query = """
DROP TABLE IF EXISTS yellow_tripdata_trip;
"""

# Execute the query using the engine
with engine.connect() as connection:
    connection.execute(query)

```sql
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
```

Source: https://www.postgresqltutorial.com/postgresql-show-tables/

In [32]:

query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema'
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_tripdata_trip,root,None,False,False,False,False

In [6]:
query = """
SELECT max(tpep_pickup_datetime) ,min(tpep_dropoff_datetime) FROM yellow_tripdata_trip 
"""

pd.read_sql(query, con=engine)

                  max                 min
0 2021-01-01 01:00:55 2020-12-31 13:53:43